<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Panda</title>
    @Styles.Render("~/Content/custom.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <a class="logout"href="javascript:document.getElementById('logoutForm').submit()">log out</a>
    }
        <div class="navbar">
            <h1>@Html.ActionLink("Panda", "Index", "Home")</h1>
            <ul class="navbar-nav">
                <li class="btn">@Html.ActionLink("Browse", "Index", "Home")</li>
                <li class="btn">@Html.ActionLink("Requests", "Index", "Request")</li>
                <li class="btn">@Html.ActionLink("Upload", "Upload", "Subtitle")</li>
                <li class="btn">@Html.Partial("_LoginPartial")</li>
                <li class="btn">@Html.ActionLink("FAQ", "FAQ", "Home")</li>
            </ul>
        </div>
            

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer-left">
            <p><a href="mailto:support@panda.com">support@panda.com</a></p>
        </footer>
        <footer class="footer-right">
            <p>&copy; Panda @DateTime.Now.Year</p>
        </footer>
    </div>
    
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
