@model PandaApp.Models.Subtitle

@{
    ViewBag.Title = "Details";
}

<h3>Subtitle Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.ActionLink(Model.Author, "ViewUser", "Account", new { username = Model.Author }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.ActionLink(Model.Title, "MediaProfile", "Media", new { id = Model.MediaID }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>
</div>

<div class="buttons">
    @using (Html.BeginForm("Download", "Subtitle", FormMethod.Post))
    {
        <input type="hidden" name="id" value="@Model.ID" />
        <input type="hidden" name="view" value="Details" />
        <input type="submit" class="btn btn-default" value="Download">
    }
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
</div>


<hr />
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("PostComment", "Subtitle", new { subtitleId = @Model.ID }))
    {
        @Html.AntiForgeryToken()
        <div class="row col-md-offset-2">
            <div class="col-md-8">
                @Html.LabelFor(model => model.Comments, new { @class = "control-label" })
                <div>
                    @Html.TextArea("Comment", new { @class = "form-control", @rows = 3 })
                    @Html.ValidationMessageFor(model => model.Comments)
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

<hr />

@foreach (var item in Model.Comments)
{
    <dl class="dl-horizontal">
        <dt>
            @Html.ActionLink(item.Author, "ViewUser", "Account", new { username = item.Author }, null)
        </dt>
        <dd>
            @item.Text
        </dd>
    </dl>
}

<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
