@model PandaApp.Models.SubtitleLine

@{
    ViewBag.Title = "EditPV";
}
@using (Html.BeginForm("UpdateSubtitleLine", "Subtitle", FormMethod.Post, new { @class = "form-horizontal", @id = "line_" + @Model.Index, role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <input type="hidden" id="lineID" value="@Model.ID" />   
    
    <div class="form-group">
        @Html.LabelFor(m => m.Index, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Text, new { id = "lineText", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Text)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TimeFrom, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TimeFrom, new { id = "lineStart", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TimeFrom)
        </div>
    </div>
        <div class="form-group">
        @Html.LabelFor(m => m.TimeTo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TimeTo, new { id = "lineStop", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TimeTo)
        </div>
    </div>
    <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" id="form_submit" class="btn btn-default" />
            </div>
    </div>
}