@model PandaApp.Models.SubAndReq
@{
    ViewBag.Title = "Search Results";
}

<div class="row text-center">
    @using (Html.BeginForm("SearchResult", "Subtitle"))
    {
        <input type="text" class="form-control" id="input" name="title" size="21" maxlength="120" placeholder="Subtitle search">
        <select class="form-control" id="select" name="language">
            <option value="all" selected>Language</option>
            <option value="icelandic">Icelandic</option>
            <option value="english">English</option>
            <option value="danish">Danish</option>
            <option value="spanish">Spanish</option>
            <option value="swedish">Swedish</option>
            <option value="klingon">Klingon</option>
            <option value="hungarian">Hungarian</option>
        </select>
        <input type="submit" class="btn btn" value="Search">
    }
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Subtitles found</h3>
        <table class="table-striped" width="450">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Language</th>
                    <th>Author</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sub in Model.Subtitles)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(sub.Title, "MediaProfile", "Media", new { id = sub.MediaID }, null)
                        </td>
                        <td>
                            @sub.Language
                        </td>
                        <td>
                            @if (@sub.Author == "Guest")
                            {
                                @sub.Author
                            }
                            else
                            {
                                @Html.ActionLink(sub.Author, "ViewUser", "Account", new { username = sub.Author }, null)
                            }
                        </td>
                        <td>
                            @sub.DateCreated.ToShortDateString()
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <h3>Requests found</h3>
        <table class="table-striped" width="450">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Language</th>
                    <th>Author</th>
                    <th>Date Created</th>
                    <th>Upvotes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var req in Model.Requests)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(req.Title, "Details", "Request", new { id = req.ID }, null)
                        </td>
                        <td>
                            @req.Language
                        </td>
                        <td>
                            @if (@req.Author == "Guest")
                            {
                                @req.Author
                            }
                            else
                            {
                                @Html.ActionLink(req.Author, "ViewUser", "Account", new { username = req.Author }, null)
                            }
                        </td>
                        <td>
                            @req.DateCreated.ToShortDateString()
                        </td>
                        <td>
                            @req.Upvotes
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>