@model IEnumerable<PandaApp.Models.Subtitle>

@{
    ViewBag.Title = "Subtitle Search";
}

<!-- Search-->
<div class="row text-center">
    @using (Html.BeginForm("SubtitleSearch", "Subtitle"))
    {
        <input type="text" class="form-control" id="input" name="title" size="21" maxlength="120" placeholder="Subtitle search">
        @Html.DropDownList("Language", (IEnumerable<SelectListItem>)ViewBag.Languages, new { @class = "form-control" })
        <input type="submit" class="btn btn" value="Search">
    }
</div>
<!-- search end-->

<h3>Subtitle Search</h3>
<hr />

@if (!Model.Any())
{
    <p>No subtitles were found.</p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                Download
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sub in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(sub.Title, "Details", new { id = sub.ID }, null)
                </td>
                <td>
                    @sub.Language
                </td>
                <td>
                    @if (@sub.Author == "Guest")
                    {
                        @sub.Author
                    }
                    else
                    {
                        @Html.ActionLink(sub.Author, "ViewUser", "Account", new { username = sub.Author }, null)
                    }
                </td>
                <td>
                    @sub.DateCreated
                </td>
                <td>
                    @using (Html.BeginForm("Download", "Subtitle", FormMethod.Post))
                    {
                        <input type="hidden" name="id" value="@sub.ID" />
                        <input type="hidden" name="view" value="Details" />
                        <button type="submit" class="btn btn-mini" value="Download">
                            <span class="glyphicon glyphicon-save"></span>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
}
