@model PandaApp.Models.MediaAndSubtitles

@{
    ViewBag.Title = "MediaProfile";
}

<h2>@Model.m.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Language</th>
            <th>Date Created</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model.subs)
            {
                <td>
                    @Html.ActionLink(item.Title, "Details", "Subtitle", new { id = item.ID }, null)
                </td>
                <td>
                    @item.Language
                </td>
                <td>
                    @item.DateCreated
                </td>
                <td>
                    @Html.ActionLink(item.Author, "ViewUser", "Account", new { username = item.Author }, null)
                </td>
            }
        </tr>
            
    </tbody>


</table>
