@model IEnumerable<PandaApp.Models.Subtitle>
@{
    ViewBag.Title = "Home Page";
}

<!-- Search-->
<div class="row text-center">
    @using (Html.BeginForm("SubtitleSearch", "Subtitle"))
    {
        <input type="text" class="form-control" id="input" name="title" size="21" maxlength="120" placeholder="Subtitle search">
        @Html.DropDownList("Language", (IEnumerable<SelectListItem>)ViewBag.Languages, new { @class = "form-control" })
        <input type="submit" class="btn btn" value="Search">
    }
</div>
<!-- search end-->

<hr />

<h3>Recently Added Subtitles</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Language</th>
            <th>Date Created</th>
            <th>Author</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sub in Model)
        {
            <tr>
                <td>
                    <!-- So the title links to its media profile -->
                    @Html.ActionLink(sub.Title, "Details", "Subtitle", new { id = sub.ID }, null)
                </td>
                <td>
                    @sub.Language
                </td>
                <td>
                    @sub.DateCreated.ToShortDateString()
                </td>
                <td>
                    @if (@sub.Author == "Guest")
                    {
                        @sub.Author
                    }
                    else
                    {
                        @Html.ActionLink(sub.Author, "ViewUser", "Account", new { username = sub.Author }, null)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/UpvoteScript.js"></script>