@model PagedList.IPagedList<PandaApp.Models.Subtitle>

@{
    ViewBag.Title = "Home Page";
}

<!-- Search-->
<div class="row text-center">
    @using (Html.BeginForm("SubtitleSearch", "Subtitle"))
    {
        <input type="text" class="form-control" id="input" name="title" size="21" maxlength="120" placeholder="Subtitle search">
        @Html.DropDownList("Language", (IEnumerable<SelectListItem>)ViewBag.Languages, new { @class = "form-control" })
        <input type="submit" class="btn btn-default" value="Search">
    }
</div>
<!-- search end-->

<h2>View Subtitles</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Author)
            </th>
            <th>
                 Download
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sub in Model)
        {
            <tr>
                <td>
                    <!-- So the title links to its media profile -->
                    @Html.ActionLink(sub.Title, "Details", "Subtitle", new { id = sub.ID }, null)
                </td>
                <td>
                    @sub.Language
                </td>
                <td>
                    @sub.DateCreated
                </td>
                <td>
                    @if (@sub.Author == "Guest")
                    {
                        @sub.Author
                    }
                    else
                    {
                        @Html.ActionLink(sub.Author, "ViewUser", "Account", new { username = sub.Author }, null)
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Download", "Subtitle", FormMethod.Post))
                    {
                        <input type="hidden" name="id" value="@sub.ID" />
                        <input type="hidden" name="view" value="Details" />
                        <button type="submit" class="btn btn-mini" value="Download">
                            <span class="glyphicon glyphicon-save"></span>
                            </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="page-nav">
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "Index", new { page = 1 })
        @Html.Raw(" ")
        @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber -1 })
    }
    else
    {
        @:&lt;&lt;
        @Html.Raw(" ")
        @:&lt; Prev
    }

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)

    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1 })
        @Html.Raw(" ")
        @Html.ActionLink(">>", "Index", new { page = Model.PageCount })
    }
    else
    {
        @:Next &gt;
        @Html.Raw(" ")
        @:&gt;&gt;
    }
</div>

<script src="~/Scripts/UpvoteScript.js"></script>