@model PandaApp.Models.SubAndReq
@{
    ViewBag.Title = "Home Page";
}

<!-- Search-->
<div class="row text-center">
    @using (Html.BeginForm("SearchResult", "Subtitle"))
    {
        <input type="text" class="form-control" id="input" name="title" size="21" maxlength="120" placeholder="Subtitle search">
        <select class="form-control" id="select" name="language">
            <option value="all" selected>Language</option>
            <option value="icelandic">Icelandic</option>
            <option value="english">English</option>
            <option value="danish">Danish</option>
            <option value="spanish">Spanish</option>
            <option value="swedish">Swedish</option>
            <option value="klingon">Klingon</option>
            <option value="hungarian">Hungarian</option>
        </select>
        <input type="submit" class="btn btn" value="Search">
    }
</div>
<!-- search end-->

<hr />
<div class="row">
    <!-- div to the left -->
    <div class="col-md-7">
        <h3>Recently Added</h3>
        <table class="table-striped" width="550">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Language</th>
                    <th>Added</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sub in Model.Subtitles)
                {
                    <tr>
                        <td>
                            <!-- So the title links to its media profile -->
                            @Html.ActionLink(sub.Title, "MediaProfile", "Media", new { id = sub.MediaID }, null)
                        </td>
                        <td>
                            @sub.Language
                        </td>
                        <td>
                            @sub.DateCreated.ToShortDateString()
                        </td>
                        <td>
                            @if (@sub.Author == "Guest")
                            {
                                @sub.Author
                            }
                            else
                            {
                                @Html.ActionLink(sub.Author, "ViewUser", "Account", new { username = sub.Author }, null)
                            }
                        </td>                   
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--Div to the left ends-->
    <!-- div to the right -->
    <div class="col-md-5">
        <h3>Most Upvoted Requests</h3>
        <table class="table-striped" width="450">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Language</th>
                    <th>Author</th>
                    <th>Upvotes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var req in Model.Requests)
                {
                    <tr>
                        <td>
                            <!-- So the title links to its profile -->
                            @Html.ActionLink(req.Title, "Details", "Request",new { id = req.ID }, null)
                        </td>
                        <td>
                            @req.Language
                        </td>
                        <td>
                            @if (@req.Author == "Guest")
                            {
                                @req.Author
                            }
                            else
                            {
                                @Html.ActionLink(req.Author, "ViewUser", "Account", new { username = req.Author }, null)
                            }
                        </td> 
                        <td>
                            @req.Upvotes
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--div to the right ends-->
</div>