@model IEnumerable<PandaApp.Models.Request>

@{
    ViewBag.Title = "Requests";
}

<!-- TODO! some search action-->
<!-- Search-->
<div>
    <form class="row text-center" method="get" action="http://www.google.com">
        <input type="text" class="form-control" id="input" name="q" size="21" maxlength="120" placeholder="Request search">

        <select class="form-control" id="select" name="language">
            <option value="all" selected>Language</option>
            <option value="is">Icelandic</option>
            <option value="en">English</option>
        </select>

        <input type="submit" class="btn btn-primary" value="Search">
    </form>
</div>
<!-- search end-->


<div class="row">
    <div class="col-md-7 col-md-offset-2">
        <h3>View Requests</h3>
        <table class="table-striped" width="647">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>LanguageID</th>
                    <th>Upvotes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.MediaID
                        </td>
                        <td>
                            @item.LanguageID
                        </td>
                        <td>
                            @item.Upvotes
                        </td>
                        <td>
                            @item.AuthorID
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@Html.ActionLink("Create Request", "NewRequest", null, new { @class = "btn btn-default" })