@model PandaApp.Models.Subtitle

@{
    ViewBag.Title = "Upload";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Subtitle</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MediaID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MediaID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MediaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LanguageID, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LanguageID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<!-- upload form frá msdn
<form id="form1" runat="server">
    <div>
        <h4>Select a file to upload:</h4>

        <asp:FileUpload id="FileUpload1"
                        runat="server">
        </asp:FileUpload>

        <br /><br />

        <asp:Button id="UploadButton"
                    Text="Upload file"
                    OnClick="UploadButton_Click"
                    runat="server">
        </asp:Button>

        <hr />

        <asp:Label id="UploadStatusLabel"
                   runat="server">
        </asp:Label>
    </div>
</form>
upload form frá msdn endar-->

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
