@model PandaApp.Models.ReqUp
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.request.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.request.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.request.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.Language)
        </dd>
        @* Hides video link if its empty *@
        @if (Model.request.ExternalVideoLink != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.request.ExternalVideoLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.ExternalVideoLink)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.request.Upvotes)
        </dt>

        <dd class="d_upvotes">
            @Html.DisplayFor(model => model.request.Upvotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.request.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.DateCreated)
        </dd>

    </dl>
</div>

<table>
    <tbody>
        <tr>
            <td id="margin_1">
                <p id="return_link_1">
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </td>
            @if (Model.upvoted)
            {
                <td>
                    <div class="row text-center">
                        @using (Html.BeginForm("Upvote", "Request", FormMethod.Post, new { @id = "upvote" }))
                        {
                            <input type="hidden" name="id" value="@Model.request.ID" />
                            <input type="submit" class="btn btn" value="Upvote">
                        }
                    </div>
                </td>
            }
        </tr>
    </tbody>
</table>

<script src="~/Scripts/UpvoteScript.js"></script>