@model PandaApp.Models.ReqUp
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.request.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.request.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.request.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.Language)
        </dd>
        @* Hides video link if its empty *@
        @if (Model.request.ExternalVideoLink != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.request.ExternalVideoLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.ExternalVideoLink)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.request.Upvotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.Upvotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.request.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.DateCreated)
        </dd>

    </dl>
</div>
@if (Model.upvoted)
{
    <div class="row text-center">
        @using (Html.BeginForm("Upvote", "Request"))
        {
            <input type="text" name="s" value="@Convert.ToString(Model.request.ID)" style="display:none" />
            <input type="submit" class="btn btn" value="Upvote">
        }
    </div>
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
