@model PandaApp.Models.ReqUp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.request.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.request.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.Author)
            @*@if (Model.request.Author == "Guest")
            {
                @Model.request.Author
            }
            else
            {
                @Html.ActionLink(Model.request.Author, "ViewUser", "Account", new { username = Model.request.Author }, null)
            }*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.request.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.Language)
        </dd>
        @* Hides video link if its empty *@
        @if (Model.request.ExternalVideoLink != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.request.ExternalVideoLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.ExternalVideoLink)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.request.Upvotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.Upvotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.request.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.request.DateCreated)
        </dd>
        @if (Model.request.SubtitleLink != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.request.SubtitleLink)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.request.SubtitleLink)
        </dd>
        }

    </dl>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.request.SubtitleLink == null)
            {
                using (Html.BeginForm("FillRequest", "Request", FormMethod.Post))
                {
                    <label class="col-md-2 control-label">Fill request</label>
                    <input type="hidden" name="requestID" value="@Model.request.ID" />
                    <input type="text" name="subtitleLink" class="form-control" placeholder="Enter subtitle link" />
                    <input type="submit" class="btn btn-default" value="Fill">
                }
            }
        }
    </div>
</div>

<table>
    <tbody>
        <tr>
            <td id="margin_1">
                <p id="return_link_1">
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </td>
            @if (Model.upvoted)
            {
                <td>
                    <div class="row text-center">
                        @using (Html.BeginForm("Upvote", "Request", FormMethod.Post, new { @id = "upvote" }))
                        {
                            <input type="hidden" name="id" value="@Model.request.ID" />
                            <input type="submit" class="btn btn" value="Upvote">
                        }
                    </div>
                </td>
            }
        </tr>
    </tbody>
</table>

<script src="~/Scripts/UpvoteScript.js"></script>