@model IEnumerable<PandaApp.Models.Request>
@using System.Linq;

@{
    ViewBag.Title = "Search results";
}

<h3>Search results</h3>
<hr />

@if (!Model.Any())
{
    <p>No requests were found.</p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upvotes)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var req in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(req.Title, "Details", "Request", new { id = req.ID }, null)
                </td>
                <td>
                    @req.Language
                </td>
                <td>
                    @if (@req.Author == "Guest")
                    {
                        @req.Author
                    }
                    else
                    {
                        @Html.ActionLink(req.Author, "ViewUser", "Account", new { username = req.Author }, null)
                    }
                </td>
                <td>
                    @req.DateCreated.ToShortDateString()
                </td>
                <td>
                    @req.Upvotes
                </td>
            </tr>
        }
        </tbody>    
    </table>
}