@model IEnumerable<PandaApp.Models.Request>
@using System.Linq;

@{
    ViewBag.Title = "Search results";
}

<!-- Search begins -->
<div class="row text-center">
    @using (Html.BeginForm("RequestSearch", "Request"))
    {
        <input type="text" class="form-control" id="input" name="title" size="21" maxlength="120" placeholder="Request search">
        @Html.DropDownList("Language", (IEnumerable<SelectListItem>)ViewBag.Languages, new { @class = "form-control" })
        <input type="submit" class="btn btn" value="Search">
    }
</div>
<!-- Search ends -->

<h3>Search results</h3>
<hr />

@if (!Model.Any())
{
    <p>No requests were found.</p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Upvotes)
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <!-- So the title links to its profile -->
                    @Html.ActionLink(item.Title, "Details", "Request",new { id = item.ID }, null)
                </td>
                <td>
                    @item.Language
                </td>
                <td>
                    @if (@item.Author == "Guest")
                    {
                        @item.Author
                    }
                    else
                    {
                        @Html.ActionLink(item.Author, "ViewUser", "Account", new { username = item.Author }, null)
                    }
                </td>
                <td>
                    @item.DateCreated
                </td>
                <td>
                        @if (item.UpvotedByUser)
                        {
                            using (Html.BeginForm("Upvote", "Request", FormMethod.Post, new { @id = "upvote" }))
                            {
                                <input type="hidden" name="id" value="@item.ID" />
                                <input type="hidden" name="view" value="Index" />
                                <button type="submit" class="btn btn-mini" value="+">
                                    @item.Upvotes
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                </button>
                            }
                        }
                        else
                        {
                            <button type="submit" class="btn btn-mini" value="">
                                @item.Upvotes
                            </button>
                        }
                </td>
            </tr>
        }
    </tbody>
</table>
}