@using PandaApp.Models;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

<div class="row">
    <div class="col-md-6">
        @{ Html.RenderAction("MyRequests"); }
    </div>
    <div class="col-md-6">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
        <p class="text-success">@ViewBag.StatusMessage</p>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
