@using PandaApp.Models;
@using Microsoft.AspNet.Identity;
@model List<PandaApp.Models.Request>

@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

<h2>My requests</h2>
<div>
    <table class="table-striped" width="450">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Language</th>
                <th>Author</th>
                <th>Upvotes</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var prof in Model)
                {
                    <tr>
                        <td>
                            @*MEDIA ID*@
                            @prof.Title
                        </td>
                        <td>
                            @*REQUEST LANGUAGE ID*@
                            @prof.Language
                        </td>
                        <td>
                            @*Upvotes*@
                            @prof.Upvotes
                        </td>
                    </tr>
                }
            }        
        </tbody>



    </table>
</div>

<div class="row">
    <div class="col-md-6">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
</div>
<p class="text-success">@ViewBag.StatusMessage</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
