@model IEnumerable<PandaApp.Models.Request>

<h4>My requests</h4>
<hr />

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Upvotes)
                </th>
                <th>
                    Filled
                </th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var prof in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(prof.Title, "Details", "Request", new { id = prof.ID }, null)
                    </td>
                    <td>
                        @prof.Language
                    </td>
                    <td>
                        @prof.DateCreated
                    </td>
                    <td>
                        @prof.Upvotes
                    </td>
                    <td>
                        @if (prof.SubtitleLink.IsEmpty())
                        {
                            @:No
                        }
                        else
                        {
                            @:Yes
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>