@model IEnumerable<PandaApp.Models.Request>

<h4>My requests</h4>
<hr />

@if (!Model.Any())
{
    <p>You have not made any requests.</p>
}
else
{
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Upvotes)
                </th>
                <th>
                    Filled
                </th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Details", "Request", new { id = item.ID }, null)
                </td>
                <td>
                    @item.Language
                </td>
                <td>
                    @item.DateCreated
                </td>
                <td>
                    @item.Upvotes
                </td>
                <td>
                    @if (item.SubtitleLink.IsEmpty())
                    {
                        <p>No</p>
                    }
                    else
                    {
                        <a href="@item.SubtitleLink">Yes</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}